<h1 *ngIf="claims">
{{claims}}
</h1>

<button class="btn btn-default" (click)="login()">
  Login
</button>
<button class="btn btn-default" (click)="logoff()">
  Logout
</button>
<button class="btn btn-default" (click)="callApi()">
  Cal API
</button>

<h3>
  {{apiResponse}}
</h3>
